extends layout.pug

block content
    P  Private chat start OK!
    
    //- fieldset
    //-     form(action='/send', method='post')
    //-         input.ghost-input(name='sms', type='text', placeholder='Enter your msg', required='')
    //-         input.ghost-button(type='submit', value='Send')
     
    